.artikel {
    margin-top: 120px;

    &-status {
        font-size: 14px;
        font-family: 'Quicksand Bold', sans-serif;
        margin: 0px;
    }

    .iconposting {
        display: inline-block;
        background: url(../asset/addfile-white.svg);
        background-size: cover;
        width: 25px;
        height: 25px;
        margin-right: 5px;
    }

    &-post {
        margin: 10px 0px;
        display: inline-flex;
        justify-content: space-evenly;
    }

    &-wrap {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
    }

    &-title {
        a {
            font-family: 'Quicksand Bold', sans-serif;
            color: #1c1c1c;
            font-size: 24px;

            &:hover {
                text-decoration: none;
                color: #28b873;
                transition: .3s;
            }
        }
    }

    &-header {
        color: #28b873;
        margin-bottom: 30px;
    }

    &-author {
        p {
            font-size: 14px;
            margin-bottom: 2px;
            padding: 0px;
            font-family: 'Quicksand Bold', sans-serif;
        }
    }

    &-detail {
        width: 60%;
        display: inline-block;
    }

    &-thumbnail {
        width: 40%;
        display: inline-block;

        img {
            display: block;
            width: 100%;
        }
    }

    &-deskripsi {
        font-size: 14px;

        p {
            margin-bottom: 0px;
        }
    }

}

.statistik-konten {
    text-align: center;
    display: block;

    img {
        width: 100%;
    }
}