.navbar {
    padding-left: 50px;
    padding-right: 50px;


    .nav-item {
        display: flex;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .nav-img {
        width: 40px;
        margin-right: 10px;
        fill: #fff;
    }
}

.navbar-light {
    background-color: #fff;

    .navbar-brand {
        font-size: 24px;
        color: #28b873;
    }

    .navbar-nav {

        .nav-link {
            padding-left: 20px;
            padding-right: 20px;
            color: #28b873;
        }
    }
}

.navbar-dark {
    .navbar-brand {
        font-size: 24px;
    }

    .navbar-nav {
        .nav-link {
            padding-left: 20px;
            padding-right: 20px;
            color: rgba($color: #fff, $alpha: 1.0) !important;

            &:hover {
                transition: all 0.3s ease;
                color: #000 !important;
            }
        }
    }
}